body{
  background-color: #1F2937;
  width: 550px;
  height: 550px;
  top: 64px;
  left: 642px;
  gap: 0px;
  opacity: 0px;
  size: 20xp;
  display:flexbox;
  align-items: center;
  justify-content: center;
  height:auto;
  margin:300px 700px 
  }

  .mainText{
  width: 354px;
  height: 80px;
  top: 115px;
  left: 52px;
  gap: 0px;
  opacity: 0px;
  font-family: "Karla", sans-serif;
  color:aliceblue;
  }

  #warning{
  width: 372px;
  height: 28px;
  top: 205px;
  left: 52px;
  gap: 0px;
  opacity: 0px;
  font-family: "Inter", sans-serif;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  }

  button{
  width: Hug (191px)px;
  height: Hug (42px)px;
  top: 284px;
  left: 52px;
  padding: 9px 17px 9px 15px;
  gap: 12px;
  border-radius: 6px;
  opacity: 0px;
  background: #10B981;
  box-shadow: 0px 1px 2px 0px #0000000D;
  color: white;
  cursor: pointer; 
  margin-top: 80px;
  }

  button:hover{
  background-color: #70ff8f;
  }

  line{
  width: 446px;
  height: 0px;
  top: 361px;
  left: 52px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #2F3E53;
  display: block;
  margin-top: 50px;
  }

  .input-container{
  display: flex;
  gap:20px;
  }

 
  input { 
    width: 211px;
    height: 39px;
    top: 396px;
    left: 52px;
    gap: 0px;
    border-radius: 15px;
    opacity: 0px;
    background: #273549;
    cursor: pointer; 
    margin-top: 40px;
    color: #55F991;
    font-family: "Inter", sans-serif;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: none;
  }
 
 